
*.xccheckout

*.xcuserstate

OpenWeatherForecast/OpenWeatherForecast.xcodeproj/project.xcworkspace/xcuserdata/Neeraj.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

*.xcuserstate

*.xcbkptlist
